<div class="stuff">
<a href="/events/new">Create an Event</a>
<h1>click to edit</h1>
<% @user.each do |t| %>
<p><a href="/events/<%= t.id %>">Name: <%= t.name  %>, Location <%= t.location %></a></p>

<% end %>
</div>

<form action="/events" method="post">
    <input type="text" name="name" value="" placeholder="Title">
    <input type="text" name="location" value="" placeholder="Location">
    <input type="text" name="starts_at" value="2015-04-20 18:37:40" >
    <input type="text" name="ends_at" value="2015-04-20 20:37:40" >
    <input type="submit" value="create event" class="yolo">
</form>

